body {
   direction: rtl;
   background-image: url('9.jpg');
   font-family: 'Vazir', sans-serif;
}

.io {
   background: rgba(255, 255, 255, 0.15);
   border: 2px #000;
   border-radius: 15px;
   padding: 30px;
   margin: 20px;
}

.class {
background: rgba(255, 255, 255, 0.15);
 border: 2px #000;
 border-radius: 15px;
 padding: 32px;
 margin-left: 300px;
 margin-right: 20px;
}

#country {
   background: rgba(255, 255, 255, 0.1);
   padding-left: 111px;
   padding-bottom: 10px;
   padding-top: 10px;
   border: 3px solid black;
   border-radius: 15px;
   margin-right: 1px;
}

input {
    background: rgba(255, 255, 255, 0.1);
   padding: 15px;
   border: 3px solid black;
   border-radius: 15px;
   margin-right: 1px;
}
 
button {
   margin-left: 15px;
   padding: 1px 40px;
   border: 3px solid ;
   border-radius: 13px;
   background: rgba(255, 255, 255, 0.0);
   font-size: 1rem;
   backdrop-filter: blur(10px);
   transition: 0.3s;
   display: block;
   margin-left: auto;
   margin-right: auto;

}
h2 {
   text-align: center;
}
p {
   background: rgba(255, 255, 255, 0.5);
   padding: 20px;
   border: 2px solid none;
   border-radius: 15px;
}
.gallery {
   background: rgba(255, 255, 255, 0.15);
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 12px;
   overflow: hidden;
   border: 2px #000;
   border-radius: 15px;
   padding: 30px;
   margin: 20px;
   
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* اصلاح شد */
  border-radius: 10px;
   transition: transform .18s ease;
}

h3 {
   background: rgba(255, 255, 255, 0.15);
   border: 2px #000;
   border-radius: 15px;
   padding: 30px;
   margin: 20px;
   text-align: center;
}